.card {
  display: flex;
  gap: 3rem;
  width: 34rem;
  height: 11rem;
  max-width: 100%;
  border-radius: 1rem;
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.3);
  padding: 3rem;
}

.card img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card-text .card-title {
  font-size: 2rem;
  font-weight: 700;
}

.card-text .card-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--gray);
}

@media (max-width:  544px) {
  .card {
   width: 25rem;
  }

  .card-text .card-title {
    font-size: 1.6rem;
  }

  .card-text .card-subtitle {
    font-size: 1.4rem;
  }

}

