.container {
  width: 130rem;
  max-width: 100%;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem 2rem 5rem 2rem;
  gap: 6rem;
}

.top-box {
  justify-content: space-between;
  max-width: 100%;
  display: flex;
  gap: 2rem;
}

.top-box img {
  width: 80rem;
  height: 45rem;
  object-fit: cover;
  max-width: 100%;
  border-radius: 1rem;
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.3);
}

.details-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.infos {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  width: 40rem;
  max-width: 100%;
  height: 45rem;
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  padding: 3rem 2rem 1.5rem 2rem;
}

.infos .line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 2.2rem;
}

.infos .line::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--gray);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.infos .line:last-child::after {
  display: none;
}

.infos .line .title {
  font-size: 1.8rem;
  color: var(--strongGray);
}

.infos .line .data {
  font-size: 2.2rem;
  color: var(--black-text);
  font-weight: 900;
}

.more-details {
  margin-top: 2rem;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.more-details .type {
  display: flex;
  font-weight: 500;
  border-radius: .5rem;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  max-width: 100%;
  font-size: 1.5rem;
  background-color: var(--pink);
}

.more-details .title {
  position: relative;
  font-size: 2.5rem;
  font-weight: 900;
}

.more-details .title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  top: 6rem;
  background-color: var(--gray);
  position: absolute;
  }

  .more-details p {
    line-height: 30px;
    letter-spacing: 1.5px;
  }

  .contact-btn {
    cursor: pointer;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    padding: 1.5rem 3rem;
    background-color: var(--orange);
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
  }

  .contact-btn:hover {
    color: var(--black-text);
  }

  @media (max-width: 1280px) {
    .top-box {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5rem;
    }

    .details-box {
      width: 100%;
    }

    .infos {
      width: 100%;
    }
  }

  @media (max-width: 544px)  {
    .infos {
      height: 100%;
    }

    .infos .line {
      flex-direction: column;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding-bottom: 2.2rem;
    }
  }
