.container{
  background-color: var(--white);
  max-width: 100%;
  width: 100%;
}

.contacts-content {
  position: relative;
  margin-bottom: 1rem;
}

.contacts-content::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--gray);
}

.info-content {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-1 {
  display: flex;
  gap: 5rem;
  color: var(--orange);
}

.email-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--gray);

}

.social-box:hover {
  background-color: var(--orange);
}

.icon {
  color: var(--white);
}

header, .navigation-box {
  display: flex;
  align-items: center;
}

.header {
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  display: flex;
  width: 100%;
  height: 9rem;
  justify-content: space-between;
  background-color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.header.scrolled {
  transform: translateY(-100%);
  animation: slideDown 0.5s forwards;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 41;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.background {
  cursor: pointer;
  top: 0;
  display: none;
  z-index: 98;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  opacity: 0.6;
  filter: blur(2px);
}

.navigation-box {
  display: flex;
  position: relative;
  font-size: 2rem;
  gap: 2rem;
  margin: 0 4rem;
}

.logo-box {
  position: relative;
  margin: 0 2rem;
}

.logo-box span {
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 900;
}

.navigation-box .link {
  cursor: pointer;
  color: var(--black-text);
  transition: .2s;
  font-size: 1.6rem;
  font-weight: 600;
}

.navigation-box .link:hover {
  color: var(--orange);
}

.active {
  color: var(--orange);
}

.btn-icon {
  margin: 0 2rem;
  display: none;
  background: none;
  border: none;
  color: var(--black-text);
  cursor: pointer;
}

.iconUser {
  cursor: pointer;
}

.userImg {
  position: relative;
  border: 2px solid var(--black-text);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: .5rem;
}

.userBox {
  z-index: 20;
  right: 2rem;
  top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 1rem;
  padding: 2rem 1rem;
  color: var(--black-text);
  background-color: var(--darkWhite);
  border-radius: .5rem;
  border: 1px solid var(--gray);
  letter-spacing: 1px;
  max-width: 100%;
  overflow: hidden;
  width: 25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.nameUser {
  text-align: center;
  overflow: hidden;
  color: var(--white);
  max-width: 100%;
  width: 100%;
  padding: .5rem 1rem;
  font-weight: 700;
  background-color: var(--orange);
  border-radius: .5rem;
}

.emailUser {
  position: relative;
  color: var(--black-text);
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-size: 1.4rem;
}

.emailUser::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--gray);
  position: absolute;
  bottom: -1.5rem;
  left: 0;
}

.userBTN {
  max-width: 100%;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.logout {
  color: var(--black-text);
  cursor: pointer;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1rem;
  border-radius: .2rem;
}

.logout:hover {
  color: var(--orange);
  background-color: var(--gray);
}

.login {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 100%;
}


.close {
  position: fixed;
  cursor: pointer;
  max-width: 100%;
  overflow: hidden;
  background-color: var(--black-text);
  opacity: 0.6;
  width: 100vw;
  height: 100%;
  z-index: 10;
}

.animate-sidebar {
  animation-name: showSideBar;
  animation-duration: .5s;
}

.bg-container {
  .parent-container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
}

.bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

@keyframes showSideBar {
  from {
    margin-left: -100vw;
  }

  to {
    margin-left: -10vw;
  }
}

@media (max-width: 768px) {
  .contacts-content {
    display: none;
  }
}

@media (max-width: 544px) {
  header {
    box-shadow: none;
  }

  .btn-icon {
    display: block;
  }

  .navigation-box {
    position: fixed;
    z-index: 99;
    flex-direction: column;
    top: 0;
    background-color: var(--white);
    height: 100vh;
    width: 70vw;
    padding: 1.6rem;
    margin-left: -100vw;
  }

  .userBox {
    top: 0;
    bottom: 0;
    right: 0;
    width: 60vw;
  }

}

