.container {
  display: flex;
  justify-content: center;
  margin: 10rem 0;
  width: 100%;
}


.form-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  font-family: "Fredoka", sans-serif;
}

.form-text h4 {
  color: var(--black-text);
  font-size: 3rem;
}

.form-text span {
  font-size: 1.8rem;
  color: #525252;
}

.form-container .sbtBTN {
  cursor: pointer;
  width: 15rem;
  height: 5.2rem;
  max-width: 100%;
  border-radius: 1.2rem;
  background: linear-gradient(to right, #db613c, #f1744e);
  border: none;
  color: var(--white);
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container button {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 2rem;
  position: absolute;
  color: var(--black-text);
}

.form-container button:hover {
  color: var(--black-text);
}

form  {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

form input {
  color: var(--black-text);
  height: 5.2rem;
  width: 40rem;
  max-width: 100%;
  border-radius: 1.6rem;
  background-color: #F0EDFF;
  border: none;
}

.user-input-placeholder {
  background: url('../../../../assets/images/inputPlaceholder.svg') no-repeat;
  background-size: 2.5rem 2.5rem;
  background-position: 1.8rem center;
  padding-left: 5rem;
}

.password-input-placeholder {
  background: url('../../../../assets/images/passwordPlace.svg') no-repeat;
  background-size: 2.5rem 2.5rem;
  background-position: 1.8rem center;
  padding-left: 5rem;
}

.picture-input-placeholder {
  background: url('../../../../assets/icons/image.png') no-repeat;
  background-size: 2.4rem 2.4rem;
  background-position: 1.8rem center;
  padding-left: 5rem;
}



.text-with-lines {
  font-family: "Fredoka", sans-serif;
  font-size: 1.8rem;
  position: relative;
  display: inline-block;
}

.text-with-lines::before,
.text-with-lines::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 7rem;
  height: 1px;
  background-color: var(--gray);
}

.text-with-lines::before {
  left: -8rem;
}

.text-with-lines::after {
  right: -8rem;
}

.socialLoginBox {
  font-family: "Fredoka", sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 36.4rem;
  height: 5.8rem;
  max-width: 100%;
  border: 1px solid var(--gray);
  border-radius: 1rem;
}

.socialLoginBox  span {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--black-text);
}

.socialLoginBox  span b {
  font-weight: 900;
}

.errorsBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight:700;
}

.errorsBox span {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.errorsBox img {
  width: 1.5rem;
}

.error {
  color: var(--gray);
  font-size: 1.4rem;
}

.success {
  color: green;
  font-size: 1.4rem;
}

.photoBox {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.photoBox span {
  cursor: pointer;
  color: var(--gray);
  font-size: 1.2rem;
}

.consoleError {
  text-align: center;
  color: red;
  font-size: 1.4rem;
}

@media (max-width: 544px) {
  .form-container, .form-text, .text-with-lines, .socialLoginBox {
    margin: 0 2rem;
  }
  form input, form, .password-container, .text-with-lines, .socialLoginBox{
    width: 100%;
  }

  .errorsBox {
   width: 100%;
  }

  .text-with-lines {
    text-align: center;
  }

  .text-with-lines::before {
    display: none;
  }

  .text-with-lines::after {
    display: none;
  }
}
