<section>
  <div class="container">
      <div class="form-container">
        <div class="form-text">
          <h4>Register</h4>
          <span>You're one step away from the home of your dreams.</span>
        </div>
        <form [formGroup]="registerForm">

          @if(this.hasError && this.registerForm.get('email')?.invalid) {
            <span class="error">This field is required</span>
          }
          <input class="user-input-placeholder" id="email" formControlName="email" type="email" placeholder="Email">

          @if( this.hasError && this.registerForm.get('password')?.invalid) {
            <span class="error">min lenght is 6</span>
          }

          <div class="password-container">
            <input [type]="passwordFieldType" class="password-input-placeholder" formControlName="password" type="password" placeholder="Password">
            <button type="button" (click)="togglePasswordVisibility()">
              <img [src]="passwordFieldType === 'password' ? closedEyes : openEyes" alt="Toggle confirm password visibility"/>
            </button>
          </div>

          @if (this.hasError ) {
            <span class="error">Password doesn't match</span>
          }
          <div class="password-container">
            <input [type]="ConfirmpasswordFieldType" class="password-input-placeholder" formControlName="confirmPassword" type="password" placeholder="Confirm Password">
            <button type="button" (click)="toggleConfirmPasswordVisibility()">
              <img [src]="ConfirmpasswordFieldType === 'password' ? closedEyes : openEyes" alt="Toggle confirm password visibility"/>
            </button>
          </div>

          @if( this.hasError && this.registerForm.get('displayName')?.invalid) {
            <span class="error">max lenght is 10</span>
          }
          <input class="user-input-placeholder" id="displayName" formControlName="displayName" type="text" placeholder="Display Name">

          @if( this.hasError && this.registerForm.get('photoURL')?.invalid) {
            <span class="error">url must end with an image extension</span>
          }
          <input class="picture-input-placeholder " id="photoURL" formControlName="photoURL" type="text" placeholder="Photo URL">

          <button  (click)="onRegister()" class="sbtBTN" type="submit">Register</button>

        </form>
          <span class="text-with-lines"><b>Forgot</b> your credentials?</span>
          <div class="socialLoginBox">
            <span>Recover your <b>password</b></span>
          </div>
          <div class="socialLoginBox">
            <span>Recover your <b>email</b></span>
          </div>
          <div (click)="navigateToLogin()" class="socialLoginBox">
            <span><b>Login Page</b></span>
          </div>
      </div>
  </div>
</section>
