.container {
  position: relative;
  top: -23rem;
  display: flex;
  width: 134rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  justify-content: space-between;
}

.map-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.map-box iframe {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.3);
}

.map-box .cards {
  display: flex;
  gap: 5rem;
}


@media (max-width:  1440px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    width: 100%;
    top: -18rem;
  }

  .map-box {
    width: 100%;
    gap: 5rem;
  }

  .map-box .cards {
    justify-content: center;
    gap: 5rem;
  }

  ::ng-deep .form-box {
    width: 100% !important;
  }
}

@media (max-width:  768px) {
  .map-box .cards {
    flex-direction: column;
    align-items: center;
  }

  ::ng-deep .cards .card {
    width: 100% !important;
  }
}

@media (max-width:  544px) {
  .form-box {
    text-align: center;
    width: 100%;
  }

  ::ng-deep .cards .card {
    align-items: center;
    gap: .2rem;
    padding: 1rem !important;
  }

  ::ng-deep .cards .card .card-title{
    font-size: 1.6rem !important;
  }

  ::ng-deep .cards .card .card-subtitle{
    font-size: 1.4rem !important;
  }
}



