.container {
  width: 130rem;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 10rem;
}

.house-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.house-box {
  position: relative;
  padding: 3rem;
  width: 42rem;
  max-width: 100%;
  height: 60rem;
  background-color: var(--darkWhite);
  border-radius: 1rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;


}

.house-box img {
  width: 36rem;
  height: 26rem;
  border-radius: 1rem;
}

.house-infos {
  position: relative;
  height: 20rem;
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-direction: column;
}

.info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-top .type {
  display: flex;
  font-weight: 500;
  border-radius: .5rem;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  max-width: 100%;
  font-size: 1.5rem;
  background-color: var(--pink);
}

.info-top .price {
  font-size: 2rem;
  font-weight: 700;
  color: var(--orange);
}

.name {
  font-size: 2rem;
  max-width: 100%;
  font-weight: 700;
}

.bot-info {
  display: flex;
  flex-direction: column;
  height: 10rem;
  gap: 2rem;
}

.bot-info::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--gray);
}


.bot-info .line {
  display: flex;
  gap: 2rem;

}

.bot-info .line span {
  font-size: 1.5rem;
  font-weight: 500;
}

.bot-info .line span b {
  font-size: 1.8rem;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
}

.view-details {
  cursor: pointer;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--darkWhite);
  width: 16rem;
  max-width: 100%;
  height: 4rem;
  border-radius: 3rem;
  background-color: var(--black-text);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 2rem 0;
}

.pagination button {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  background-color: var(--black-text);
  color: var(--white);
  height: 4rem;
  width: 10rem;
  border-radius: 1rem;
}

