<section>
  <div class="container">
      <div class="form-container">
        <div class="form-text">
          <h4>LOGIN</h4>
          <span>How to i get started lorem ipsum dolor at?</span>
        </div>
            <form [formGroup]="form" (ngSubmit)="login()">
              <input class="user-input-placeholder" type="text" formControlName="email">
              <input  class="password-input-placeholder " type="password" formControlName="password" placeholder="senha">
              <button class="btn" type="submit">Login Now</button>
            </form>
          <span class="text-with-lines"><b>Login</b> with Others</span>
          <div class="socialLoginBox">
            <img src="../../../../assets/icons/google.svg" alt="">
            <span>Login with <b>Google</b></span>
          </div>
          <div class="socialLoginBox">
            <img src="../../../../assets/icons/facebook.svg" alt="">
            <span>Login with <b>facebook</b></span>
          </div>
      </div>
      <div class="image-box">
        <img src="../../../../assets/images/woman.png" alt="woman">
      </div>
  </div>
</section>
