<section>
  <div class="container">
      <div class="form-container">
        <div class="form-text">
          <h4>LOGIN</h4>
          <span>How to i get started lorem ipsum dolor at?</span>
        </div>
        <form [formGroup]="form" (ngSubmit)="onLogin()">
          @if(this.hasError) {
            <span class="error">This field is required</span>
          }
          <span (click)="testeAcc()" id="devMSG">use uma conta de teste. CLIQUE AQUI !!</span>
              <input class="user-input-placeholder" type="text" formControlName="email" placeholder="Email">
              @if( this.hasError ) {
                <span class="error">The password is incorrect</span>
              }
              <div class="password-container">
                <input [type]="passwordFieldType" class="password-input-placeholder" id="confirmPassword" formControlName="password" type="password" placeholder="Password">
                <button type="button" (click)="togglePasswordVisibility()">
                  <img [src]="passwordFieldType === 'password' ? closedEyes : openEyes" alt="Toggle confirm password visibility"/>
                </button>
              </div>

              <button class="btn" type="submit">Login Now</button>
              <div class="errorConsole">
                @if (errorMessage) {
                  <p>{{ errorMessage }}</p>
                }
              </div>
        </form>
          <span class="text-with-lines"><b>Login</b> with Others</span>
          <div class="socialLoginBox">
            <img src="../../../../assets/icons/google.svg" alt="google icon">
            <span>Login with <b>Google</b></span>
          </div>
          <div class="socialLoginBox">
            <img src="../../../../assets/icons/facebook.svg" alt="facebook icon">
            <span>Login with <b>facebook</b></span>
          </div>
          <span class="text-with-lines"><b>Register</b> Now</span>
          <div (click)="navigateToRegister()" class="socialLoginBox">
              <span><b>Create</b> your account</span>
          </div>
      </div>
      <div class="image-box">
        <img src="../../../../assets/images/woman.png" alt="woman">
      </div>
  </div>
</section>
