.video-box {
  position: relative;
  display: flex;
  justify-content: center;
  top: -23rem;
  max-width: 100%;
  margin: 0 2rem;
}

.video-box iframe {
  margin: 0 auto;
  width: 132rem;
  height: 50rem;
  border-radius: 1rem;
  border: 2px solid var(--orange);
}

.box-section {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 2rem;
}

.box-info {
  display: flex;
  width: 130rem;
  justify-content: space-between;
}

.box {
  position: relative;
  display: flex;
  max-width: 100%;
  width: 27rem;
  height: 10rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  border-radius: 1rem;
  background-color: #ffeee9;
}

.number {
  font-size: 4.5rem;
  color: var(--orange);
}

.title {
  max-width: 11rem;
  line-height: 27px;
}

.icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  top: -3rem;
  right: -3rem;
  background-color: var(--orange);
  color: var(--white);
}

@media (max-width: 1440px) {
  .icon {
    width: 5rem;
    height: 5rem;
    top: -1rem;
    right: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 1012px) {
  .box-info {
    flex-wrap: wrap;
    gap: 10rem;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .video-box iframe {
    margin: 0 2rem;
    width: 100%;
    height: 30rem;
    border-radius: 1.5rem;
    border: 2px solid var(--orange);
  }

  .box-section {
    position: relative;
    top: -5rem;
  }

  .box-info {
    gap: 15rem;
  }

}
