<div class="container">
  @for (item of skeletonItens; track $index) {
    <div class="box">
      <div class="image"></div>
      <div class="text-box">
        <div class="title"></div>
        <div class="subtitle"></div>
      </div>
      <div class="skeleton-title"></div>
      <div class="skeleton-details">
        <div class="line1"></div>
        <div class="line1"></div>
        <div class="line1"></div>
        <div class="line1"></div>
        <div class="line1"></div>
        <div class="line1"></div>
      </div>
      <div class="skeleton-btn"></div>
    </div>
  }
</div>
