section {
  width: 100%;
  background-color: var(--darkWhite);
  padding: 10rem 0;
  margin-top: 10rem;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 134rem;
}

.top-box {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

.top-text {
  width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 100%;
}

.top-text .subTitle {
  font-size: 4rem;
  font-weight: 900;
}

.houseType {
  display: flex;
  align-items:end;
  gap: 2rem;
  font-weight: 500;
}

.active {
  background: var(--orange) !important;
}

.houseType span {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black-text);
  font-size: 2rem;
  width: 15rem;
  height: 5rem;
  color: var(--white);
  border-radius: .5rem;
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.3);
}

.infos-container {
  padding-top: 10rem;
  max-width: 100%;
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.infos {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  width: 30rem;
  height: 37rem;
  max-width: 100%;
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  padding: 3rem 1.5rem;
}

.infos .line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 2.2rem;
}

.infos .line::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--gray);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.infos .line:last-child::after {
  display: none;
}

.infos .line .title {
  font-size: 1.5rem;
  color: var(--strongGray);
}

.infos .line .data {
  font-size: 2rem;
  color: var(--black-text);
  font-weight: 900;
}

.image {
  max-width: 100%;
  width: 56rem;
  height: 50rem;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.3);
}

.more-information {
  color: var(--black-text);
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  gap: 5rem;
  width: 32rem;
  max-width: 100%;
}

.more-information .extra-info {
  font-size: 2rem;
  font-weight: 700;
}

.more-information .description {
  position: relative;
  font-size: 1.5rem;
  width: 30rem;
  height: 20rem;
  max-height: 23rem;
  overflow: hidden;
}

.more-information .description::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--darkWhite));
}

.more-information .visit {
  cursor: pointer;
  position: relative;
  display: flex;
  right: -2rem;
  align-items: center;
  justify-content: center;
  color: var(--white);
  width: 20rem;
  height: 5rem;
  background: var(--black-text);
  border-radius: 3rem;
}

.more-information span {
  font-size: 1.5rem;
  position: relative;
  left: 1.5rem;
}

.more-information .visit .icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  bottom: -.3rem;
  left: -.9rem;
  background-color: var(--orange);
  color: var(--white);
}

@media (max-width: 1280px) {
  .infos .line .title {
    font-size: 1.3rem;
  }
}

@media (max-width: 1012px) {
  .top-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10rem;
  }

  .infos .line {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    padding-bottom: 2.2rem;
  }

  .infos {
    height: 100%;
    padding: 3rem 1.5rem 1rem 1.5rem;
  }
}

@media (max-width:  768px) {
  .infos-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  .infos {
    width: 100%;
  }

  .infos .line {
    flex-direction: row;
  }

  .infos .line .title {
    font-size: 1.6rem;
  }

  .more-information {
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40rem;
    max-width: 100%;
  }

  .more-information .description {
    position: relative;
    font-size: 1.5rem;
    width: 100%;
    max-height: 23rem;
  }

  .image {
    width: 100%;
  }
}

@media (max-width:  544px) {
  .houseType {
    flex-direction: column;
    align-items: center;
  }
}
