
section {
  margin: 10rem 2rem 5rem 2rem;
}

.container {
  display: flex;
  width: 130rem;
  max-width: 100%;
  margin: 0 auto;
  gap: 4rem;
  margin-bottom: 10rem;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-box h3 {
  font-size: 5.5rem;
  font-weight: 900;
  width: 48rem;
  color: var(--black-text);
}
.text-box p {
  font-size: 1.7rem;
  line-height: 3.3rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.map {
  width: 130rem;
  max-width: 100%;
  margin: 0 auto;
}

.map iframe {
  width: 100%;
}

@media (max-width: 1280px) {
  .text-box {
    gap: 5rem;
  }
  .text-box h3 {
    width: 100%;
  }
}

@media (max-width: 1012px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .text-box {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .cards {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
}

@media (max-width: 544px) {
  .form-box {
    text-align: center;
    width: 100%;
  }
}
