<div class="container">
  <div class="top-box">
    <div class="top-text">
      <app-section-title style="color: var(--strong-pink);">BEST DEAL</app-section-title>
      <span class="subTitle">Find Your Best Deal Right Now!</span>
    </div>
    <div class="houseType">
        <span #appartment (click)="onSelectType('Appartment')" class="active">Appartment</span>
        <span #villa  (click)="onSelectType('Villa House')" class="bgElement">Villa House</span>
        <span #penthouse (click)="onSelectType('Penthouse')" class="bgElement">Penthouse</span>
    </div>
  </div>

  <div class="infos-container">
    @if (selectedProperty$ | async; as property) {
        <div class="infos">
          <div class="line">
            <span class="title">Total Flat Space</span>
            <span class="data">{{property.area}} m2</span>
          </div>

          <div class="line">
            <span class="title">Floor number</span>
            <span class="data">{{property.floor}}th</span>
          </div>

          <div class="line">
            <span class="title">Number of rooms</span>
            <span class="data">{{property.bedrooms}}</span>
          </div>

          <div class="line">
            <span class="title">Parking Spots</span>
            <span class="data">{{property.parkingSpots}}</span>
          </div>

          <div class="line">
            <span class="title">Payment Process</span>
            <span class="data">{{property.paymentProcess}}</span>
          </div>
        </div>

        <div class="image">
          <img [src]="property.image" alt="property image">
        </div>
        <div class="more-information">
          <span class="extra-info">Extra Info About Property</span>
          <span class="description">{{property.description}}</span>
          <a (click)="toTop()" [routerLink]="['/properties',property.id]">
            <div class="visit">
              <fa-icon [icon]="['fas', 'calendar-days']" [class]="['fa-lg', 'icon']"></fa-icon>
              <span>View Details</span>
            </div>
          </a>
        </div>
      }
    </div>
</div>
