<div class="container">
  <div class="top-box">
    <div class="top-text">
      <app-section-title style="color: var(--strong-pink);">BEST DEAL</app-section-title>
      <span class="subTitle">Find Your Best Deal Right Now!</span>
    </div>
    <div class="houseType">
        <span>Appartment</span>
        <span>Villa House</span>
        <span>Penthouse</span>
    </div>
  </div>


  <div class="infos-container">
    <div class="infos">
      <div class="line">
        <span class="title">Total Flat Space</span>
        <span class="data">502 m2</span>
      </div>

      <div class="line">
        <span class="title">Floor number</span>
        <span class="data">26th</span>
      </div>

      <div class="line">
        <span class="title">Number of rooms</span>
        <span class="data">4</span>
      </div>

      <div class="line">
        <span class="title">Parking Spots</span>
        <span class="data">8</span>
      </div>

      <div class="line">
        <span class="title">Payment Process</span>
        <span class="data">Bank</span>
      </div>
    </div>

    <div class="image">
      <img src="../../../../assets/images/property-05.jpg" alt="house">
    </div>
    <div class="more-information">
      <span class="extra-info">Extra Info About Property</span>
      <span class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa modi sint corrupti, assumenda accusantium voluptate laudantium ipsum. Quis voluptates hic explicabo nam maxime, quisquam, alias ut facilis tempora error provident laudantium ea enim, dolores vitae? Omnis, totam sequi. Dignissimos minima corporis quam animi est fugiat eius sit neque doloribus unde nobis, reiciendis at incidunt facere voluptas fugit voluptatum quasi officiis dolores, odio quibusdam deserunt dolorem laborum magnam! Amet ullam, atque voluptates praesentium ex, officia, accusantium distinctio blanditiis culpa delectus quam accusamus sint.</span>
      <div class="visit">
        <fa-icon [icon]="['fas', 'calendar-days']" [class]="['fa-lg', 'icon']"></fa-icon>
        <span>Schedule a visit</span>
      </div>
    </div>
  </div>
</div>
