.container {
  width: 100%;
  margin-top: 10rem;
}

.banner-box {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 58rem;
}

.banner-box img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -3;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  margin-top: 10rem;
  color: var(--white);
  font-weight: 700;
}

.banner-title {
  position: relative;
  font-size: 1.5rem;
}

.banner-title b {
  position: absolute;
  top: -.2rem;
  left: -1rem;
}

.banner-subtitle {
  font-size: 6rem;
  text-align: center;
  width: 60rem;
}

