<section>
  <div class="container">
    <div class="content-box">
      <div class="images">
        <img class="big-img" src="../../../../assets/images/featured.jpg" alt="image">
        <div class="icon-image">
          <img src="../../../../assets/icons/featured-icon.png" alt="icon">
        </div>
      </div>
      <div class="text-box">
        <div class="text-title-group">
          <app-section-title style="color: var(--strong-pink);">FEATURED</app-section-title>
          <h1>Best Appartment & Sea View</h1>
        </div>
        <div class="faq-box">
          <span #firstQuestion class="faq-title active" (click)="toggleQuestion(1)">How to Find your Home?</span>
          @if (question1) {
            <span class="faq-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quidem voluptatibus, optio perspiciatis incids.</span>
          }
          <span #secondQuestion class="faq-title" (click)="toggleQuestion(2)">How to Use our Website?</span>
          @if (question2) {
            <span class="faq-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quidem voluptatibus, optio perspiciatis incids.</span>
          }
          <span #lastQuestion  class="faq-title last" (click)="toggleQuestion(3)">How to Find the Best Price?</span>
          @if (question3) {
            <span class="faq-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quidem voluptatibus, optio perspiciatis incids.</span>
          }
        </div>
      </div>
    </div>
    <div class="details-box">
      <div class="box">
        <img src="../../../../assets/icons/info-icon-01.png" alt="info icon">
        <div class="box-text">
          <span class="box-title">250 m2</span>
          <span class="box-description">Total Flat Space</span>
        </div>
      </div>
      <div class="box">
        <img src="../../../../assets/icons/info-icon-02.png" alt="info icon">
        <div class="box-text">
          <span class="box-title">Contract</span>
          <span class="box-description">Contract Ready</span>
        </div>
      </div>
      <div class="box">
        <img src="../../../../assets/icons/info-icon-03.png" alt="info icon">
        <div class="box-text">
          <span class="box-title">Payment</span>
          <span class="box-description">Payment Process</span>
        </div>
      </div>
      <div class="box last">
        <img src="../../../../assets/icons/info-icon-04.png" alt="info icon">
        <div class="box-text">
          <span class="box-title">Safety</span>
          <span class="box-description">24/7 Under Control</span>
        </div>
      </div>
    </div>
  </div>
</section>

